/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/



body{    /*----цвет текста не белый, поэтому мы обр-сь к боди для изм-ия цвета-------*/
background:#e8e8e8;	
}




.content{/*--------------------*/

padding:168px 0 137px 0;
/* Верх у нас 125 пикс, низ у нас137 пксл! права ноль и лева ноль */
max-width:840px; 
/*здесь мы ограничили наш content по  макси-ой ширине,как на макате*/
margin:0px auto;
/* этим свойствоом мы отцентравали наш макет по центру*/
	
}



.content-header{/*--------------------*/
text-align:center;
margin:0px 0px 65px 0px;/*-отступ внизу-*/
}




.title{/*--------------------*/
opacity: 0.6;
font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #273d46;
margin:0px 0px 15px 0px;/*-отступ внизу-*/
	
}




.header_2{/*--------------------*/
font-size: 36px;
line-height: 50px;
color: #273d46;
	
}



.content-image{/*--------------------*/
	box-shadow: 0px 15px 65px 0px;
	background-color:#fff;
	padding:10px;
	margin: 0px 0px 85px 0px;/*-отступ внизу-*/
}

.content-image,img{
	max-width:100%;
}

.content-battom{/*--------------------*/
	padding: 0px 45px;
}




.content-battom_text{/*--------------------*/
opacity: 0.8;
font-size: 24px;
line-height: 40px;
margin: 0px 0px 48px 0px;
color: #273d46;
}

.content-battom_text,p{
	margin: 0px 0px 40px 0px;/*-отступ внизу-*/
}

/*.content-battom_text,p:last-child{
margin: 0;
}*/

.content-battom-info{/*--------------------*/
	
}

.content-battom-info-list{/*--------------------*/
	margin: 0px 0px 59px 0px;
}


.content-battom-info-list,li{/*--------------------*/
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
	
	padding: 0px 0px 0px 35px;
	

	
}



.Lii1:nth-child(1){/*--------------------*/
background:url('../img/ico/icon_37.png')left no-repeat;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
color: #273d46;

}
  

.Lii2:nth-child(2){/*--------------------*/
background:url('../img/ico/icon_37.png')left no-repeat;
font-style: italic;
color: #80b7b3;
}
 

.Lii3:nth-child(3){/*--------------------*/
background:url('../img/ico/icon_37.png')left no-repeat;
font-weight: 700;
color: #273d46;
}


 
.Lii{/*--------------------*/
background:url('../img/ico/icon_37.png')left no-repeat;
font-weight: 400;
color: #aeb5b7;
text-decoration: line-through;
margin: 0px 0px 40px 0px;/*-отступ внизу-*/

}

   
   
    
  

.content-battomm{/*--------------------*/
    margin: 45px 0px 0px 0px;/*-отступ внизу-*/
    height: 44px;
	display: inline-block;
	line-height: 44px;
	padding: 0px 30px;
	border-radius: 24px;
	background-color:#80b7b3;
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 5px 1px rgba(0, 0, 0,0.5);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	
}


.conten{
	padding: 0px 30px 0px 0px;
	background:url('../img/ico/shape_2_9.png')right no-repeat;
}



.content-battomm:hover{
	background-color:#511e23;
}
.content-battomm:active{
	position: relative;
	top: 3px;
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 1px rgba(0, 0, 0,0.5);
}









